<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://s.pro-gmedia.com/videogamer/media/images/pub/large/batman_knight1111111.jpg" alt="...">
      <div class="carousel-caption">
        <h1>This one also came in <%= link_to "black", "http://goo.gl/94jLzX", class: "#ecf0f1" %> </h1>
      </div>
    </div>
    <div class="item">
      <img src="http://static6.businessinsider.com/image/537cb93469bedd6a1257d10e-1920-1080/batman-arkham-knight-flying.jpg" alt="...">
      <div class="carousel-caption">
        <h1>I will strike fear into their hearts once more</h1>
      </div>
    </div>
    
    <div class="item">
      <img src="http://static2.businessinsider.com/image/537cb934eab8ea6a79dd357d-1920-1080/batman-arkham-knight-batmobile.jpg" alt="...">
      <div class="carousel-caption">
        <h1>Watch out Gotham!</h1>
        <h4>This is going to hurt</h4>
      </div>
    </div>

    <div class="item">
      <img src="http://static3.gamespot.com/uploads/original/1365/13658182/2559799-bak_sshot075.jpg" alt="...">
      <div class="carousel-caption">
        <h1>Evening the odds</h1>
        <h4>You don't stand a chance</h4>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>